
{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

  {% block content %}
  <body>
    <!-- Start your project here-->
    <div class="container">
      <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">
          <h2 style="padding: 1em;">Yemi's URL Shortener</h2>
          {{ wtf.quick_form(form, button_map={"submit": "primary"}) }}
          <!-- <p class="mb-3">MDB Team</p> -->         
        </div>
      </div>
    </div>
    <!-- End your project here-->

    <!-- MDB -->
    <script type="text/javascript" src="static/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>

  {% endblock %}

